.main-page {
  background-color: #e2f3fa;
  color: #fff; }

.section-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px; }

.inner {
  width: 1100px;
  margin: 0 auto; }

.cancel-scroll {
  overflow: hidden; }

.navigation {
  padding: 20px;
  width: 100%;
  position: fixed;
  background-color: #59638f;
  z-index: 50; }
  .navigation__section-lists {
    display: flex;
    justify-content: space-around; }
    .navigation__section-lists__link {
      font-size: 20px;
      padding: 10px;
      display: inline-block;
      transition: background-color 0.3s, color 0.3s; }
    .navigation__section-lists__link:hover {
      cursor: pointer;
      background-color: #fff;
      color: #59638f; }

.main-container {
  padding-top: 83px; }

.site-title {
  height: 500px;
  line-height: 500px;
  color: #67cfff; }
  .site-title .section-title {
    font-size: 50px; }

.profile {
  padding: 50px 0;
  background-color: #67cfff; }
  .profile__content-box {
    margin-top: 30px;
    display: flex;
    justify-content: center; }
    .profile__content-box i {
      font-size: 70px; }
    .profile__content-box__text {
      width: 70%;
      margin-left: 30px;
      line-height: 25px; }

.my-works {
  padding: 50px 0 80px 0;
  background-color: #384850; }
  .my-works__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap; }
    .my-works__list__item {
      margin-left: 100px;
      width: 300px;
      height: 230px; }
      .my-works__list__item img {
        width: 100%;
        height: 100%; }
    .my-works__list__item:hover {
      cursor: pointer;
      opacity: 0.7; }
    .my-works__list__item:nth-child(3n+1) {
      margin-left: 0; }

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100; }
  .modal__content-box {
    width: 800px;
    margin: 0 auto;
    margin-top: 5%;
    padding-bottom: 20px;
    background-color: #fff;
    color: #67cfff; }
    .modal__content-box__close-btn {
      background-color: rgba(6, 38, 51, 0.876);
      color: #fff;
      width: 100%;
      text-align: right;
      padding: 10px 24px;
      font-size: 25px; }
    .modal__content-box__close-btn i:hover {
      cursor: pointer;
      color: #67cfff; }
    .modal__content-box__app-image img {
      width: 100%;
      height: 100%; }
    .modal__content-box__explanation-box {
      border-top: 1px solid #000000;
      padding: 20px;
      color: #000000; }
      .modal__content-box__explanation-box__title {
        font-size: 25px;
        text-align: center; }
      .modal__content-box__explanation-box__text {
        margin-top: 20px;
        font-size: 15px;
        line-height: 20px; }
    .modal__content-box__link-box {
      display: flex;
      justify-content: center; }
      .modal__content-box__link-box__link {
        margin-left: 15px;
        padding: 5px;
        transition: 0.3s; }
      .modal__content-box__link-box__link:first-child {
        margin-left: 0; }
      .modal__content-box__link-box__link:hover {
        color: #fff;
        background-color: #67cfff; }

.my-skills {
  padding: 50px 0 80px 0;
  background-color: #67cfff;
  color: #fff; }
  .my-skills__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap; }
    .my-skills__list__item {
      background-color: #fff;
      color: #67cfff;
      text-align: center;
      margin-left: 100px;
      margin-top: 70px;
      padding-top: 25px;
      width: 300px;
      height: 300px; }
      .my-skills__list__item__title {
        font-size: 20px;
        font-weight: bold; }
      .my-skills__list__item ul {
        margin-top: 15px; }
        .my-skills__list__item ul li {
          margin-top: 10px; }
        .my-skills__list__item ul li:first-child {
          margin-top: 0; }
    .my-skills__list__item:nth-child(-n+3) {
      margin-top: 0; }
    .my-skills__list__item:nth-child(3n+1) {
      margin-left: 0; }

.account {
  padding: 50px 0 80px 0;
  background-color: #384850; }
  .account__list {
    margin-top: 30px;
    display: flex;
    justify-content: center; }
    .account__list__item {
      margin-left: 50px;
      transition: color 0.3s; }
      .account__list__item i {
        font-size: 50px; }
    .account__list__item:first-child {
      margin-left: 0; }
    .account__list__item:hover {
      color: #67cfff; }

footer {
  padding: 20px;
  background-color: #59638f;
  text-align: center; }
