.main-page {
  background-color: rgb(226, 243, 250);
  color: #fff;
}

.section-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.cancel-scroll {
  overflow: hidden;
}

.icon {
  font-size: 70px;
}

.explanation-text {
  width: 70%;
  margin-left: 30px;
  line-height: 25px;
  letter-spacing: 2px;
}

//ナビゲーション
.navigation {
  padding: 20px;
  width: 100%;
  position: fixed;
  background-color: #59638f;
  z-index: 50;
  &__section-lists {
    display: flex;
    justify-content: space-around;
    &__link {
      font-size: 20px;
      padding: 10px;
      display: inline-block;
      transition: background-color 0.3s, color 0.3s;
    }
    &__link:hover {
      cursor: pointer;
      background-color: #fff;
      color: #59638f;
    }
  }
}

// メイン
.main-container {
  padding-top: 83px;
}

// タイトル
.site-title {
  height: 500px;
  color: #67cfff;
  padding: 180px 0 200px 0;
  & .section-title {
    font-size: 50px;
    letter-spacing: 2px;
    & span {
      font-size: 25px;
    }
  }
}

// プロフィール
.profile {
  padding: 50px 0;
  background-color: #67cfff;
  &__content-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    & .name {
      font-size: 20px;
      margin-top: 15px;
      padding-bottom: 5px;
      display: block;
      border-bottom: 3px solid;
    }
  }
}

// 作品一覧
.my-works {
  padding: 50px 0 80px 0;
  background-color: #384850;
  &__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    &__item {
      margin-left: 100px;
      width: 300px;
      height: 230px;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    &__item:hover {
      cursor: pointer;
      opacity: 0.7;
    }
    &__item:nth-child(3n+1) {
      margin-left: 0;
    }
  }
}

// モーダル
.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  &__content-box {
    width: 800px;
    margin: 0 auto;
    margin-top: 5%;
    padding-bottom: 20px;
    background-color: #fff;
    color: #67cfff;
    &__close-btn {
      background-color: rgba(6, 38, 51, 0.876);
      color: #fff;
      padding: 10px 24px;
      font-size: 30px;
    }
    &__close-btn i:hover {
      cursor: pointer;
      color: #67cfff;
    }
    &__app-image img{
      width: 100%;
      height: 100%;
    }
    &__explanation-box {
      border-top: 1px solid #000000;
      padding: 20px;
      color: #000000;
      &__title {
        font-size: 25px;
        text-align: center;
      }
      &__text {
        margin-top: 20px;
        font-size: 15px;
        line-height: 20px;
      }
    }
    &__link-box {
      display: flex;
      justify-content: center;
      &__link {
        margin-left: 15px;
        padding: 5px;
        transition: 0.3s;
      }
      &__link:first-child {
        margin-left: 0;
      }
      &__link:hover {
        color: #fff;
        background-color: #67cfff;
      }
    }
  }
}

// スキル一覧
.my-skills {
  padding: 50px 0 80px 0;
  background-color: #67cfff;
  color: #fff;
  &__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    &__item {
      background-color: #fff;
      color: #67cfff;
      text-align: center;
      margin-left: 100px;
      margin-top: 70px;
      padding-top: 25px;
      width: 300px;
      height: 300px;
      &__title {
        font-size: 20px;
        font-weight: bold;
      }
      & ul {
        margin-top: 15px;
        & li {
          margin-top: 10px;
        }
        & li:first-child {
          margin-top: 0;
        }
      }
    }
    &__item:nth-child(-n+3) {
      margin-top: 0;
    }
    &__item:nth-child(3n+1) {
      margin-left: 0;
    }
  }
  &__explanation-box {
    margin-top: 70px;
    display: flex;
    justify-content: center;
  }
}

// アカウント一覧
.account {
  padding: 50px 0 80px 0;
  background-color: #384850;
  &__list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    &__item {
      margin-left: 50px;
      transition: color 0.3s;
      & i {
        font-size: 50px;
      }
    }
    &__item:first-child {
      margin-left: 0;
    }
    &__item:hover {
      color: #67cfff;
    }
  }
}

// フッター
footer {
  padding: 20px;
  background-color: #59638f;
  text-align: center;
}